<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Compiler Technologies - IT Consulting</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="container">
          <div class="logo" style="cursor: pointer;" onclick="window.location.href='/'">Compiler Technologies</div>
          <div id="hamburger" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul id="nav-links" class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="careers">Careers</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </header>
 
      
      <section id="about" data-aos="fade-up" data-aos-duration="2000">
        <div class="container">
            <h2>About Compiler Technologies</h2>
            <p>Compiler Technologies has been at the forefront of providing bespoke IT consultancy services. Our mission
                is to empower businesses with sustainable, innovative solutions that drive growth and efficiency culpa
                qui officia deserunt mollit anim id est laborum.
            Our team at Compiler Technologies comprises seasoned experts with extensive experience in</p>
            <ul>
                <li>Developing innovative software solutions tailored to unique business needs.</li>
                <li>Implementing advanced cloud technologies, ensuring scalable and secure digital infrastructure.</li>
                <li>Leveraging data analytics and AI to drive business intelligence and operational efficiency</li>
            </ul>
            <p>At Compiler Technologies, we are a fresh and dynamic team driven by a passion for revolutionizing how businesses leverage
            technology. Our mission is to
             empower companies of all sizes with innovative IT solutions that simplify
             operations, enhance security, and fuel growth. With a team of experienced IT professionals, we bring
                fresh 
            perspectives, tailored strategies, and the adaptability to meet your unique needs, ensuring personalized
            
           attention and unmatched dedication. United by a shared commitment to solving complex challenges with
           creative solutions, we strive to help your business thrive in the digital age. Let’s build the future
                together.</p>
            <a href="/contact">
                <button class="cta-button">
                    Reach out to discover how we can support your journey.
                </button>
            </a>
        </div>
    </section>
    <footer>
      <div class="container">
          <p>&copy; 2025 Compiler Technologies. All rights reserved.</p>
      </div>
  </footer> 
  <script src="/script/analytics.js"></script>
  <script src="/script/script.js"></script>
</body>
</html>