

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Compiler Technologies - IT Consulting</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav class="container">
            <div class="logo" style="cursor: pointer;" onclick="window.location.href='/'">Compiler Technologies</div>
          <div id="hamburger" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <ul id="nav-links" class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="dashboard">Dashboard</a></li>
            <li><a href="careers">Careers</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </nav>
      </header>
 
      
      <section id="loginformadmin">
        <h3></h3>
        <h1>Enter Password to Access</h1>
        <p style="margin-bottom: 20px; font-size: 14px; color: #555; padding-top: 0;">
          This dashboard can be accessed by admins only. Please enter the admin password to continue.
        </p>
        <form action="/login" method="post">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <button type="submit">Submit</button>
        </form>
      </section>
      
 
      <script src="/script/script.js"></script>
</body>
</html>